
.pnav{
    display: flex;
    
    justify-content: space-between;
    margin-left: 104px;
    margin-right: 104px;
    height:  50px;
    width:1140px ;
    
}
.logonav img{
   height: 40px;
   width: 277px;
   margin-left: 40px;
}
.anav{
    height: 45px;
    width: 863px;
    display: flex;
}

.anav ul{
    height: 45px;
    width: 568px;
    margin: 0px 34px;
    padding: 0px;
    position: relative;
    margin-top: 20px;
    
}
#ul2{
    height: 35px;
    width: 189px;
    border: 10px;
    margin-top: 10px;
    margin-left: 10px;
} 
.b1{
    margin-right: 10px;
    background-color: black;
    color: aliceblue;
    font-size: bold;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
.b2{
    background-color: #ffc627!important;
    color: black;
    border-radius: 20px;
    font-size: bold;
    border: none;
    padding: 10px;
    
}
.anav a{
    margin-left: 20px;
}



  
